<h1>Listing pins</h1>
<%= link_to 'Delete All Pins', Pin, method: :delete, data:{ confirm: 'Are you sure?' } %>

<div id="columns">
  <% @pins.each do |pin| %>
    <div class="item-background">
<!-- 
      <%= pin.name %>
    -->   
      <div class="pin-image">
         <%= image_tag(pin.image, width: '100%') %>
      </div>
      <div class="item-info">
        <h3><%= pin.name %></h3>
        <h4><%= pin.board.name %></h4>
        <h4><%= pin.user.full_name %></h4>
      </div>
      <div class="item-links">
        <%= link_to 'Show', pin %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Pin', new_pin_path %>